# Pandas Experimentation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

## Create data

In [2]:
table = pd.read_csv("data.csv")

In [3]:
data = {
    'name': ['Xavier', 'Ann', 'Jana', 'Yi', 'Robin', 'Amal', 'Nori'],
    'city': ['Mexico City', 'Toronto', 'Prague', 'Shanghai',
             'Manchester', 'Cairo', 'Osaka'],
    'age': [41, 28, 33, 34, 38, 31, 37],
    'py-score': [88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0]
}

## Data Exploration

In [4]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   0.78051    99 non-null     float64
 1   -0.063669  99 non-null     float64
 2   1          99 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 2.4 KB

In [5]:
len(table)

99

In [6]:
table.shape

(99, 3)

In [7]:
table.head

<bound method NDFrame.head of     0.78051  -0.063669  1
0   0.28774    0.29139  1
1   0.40714    0.17878  1
2   0.29230    0.42170  1
3   0.50922    0.35256  1
4   0.27785    0.10802  1
..      ...        ... ..
94  0.77029    0.70140  0
95  0.73156    0.71782  0
96  0.44556    0.57991  0
97  0.85275    0.85987  0
98  0.51912    0.62359  0

[99 rows x 3 columns]>

In [8]:
table.describe

<bound method NDFrame.describe of     0.78051  -0.063669  1
0   0.28774    0.29139  1
1   0.40714    0.17878  1
2   0.29230    0.42170  1
3   0.50922    0.35256  1
4   0.27785    0.10802  1
..      ...        ... ..
94  0.77029    0.70140  0
95  0.73156    0.71782  0
96  0.44556    0.57991  0
97  0.85275    0.85987  0
98  0.51912    0.62359  0

[99 rows x 3 columns]>

In [9]:
table.index

RangeIndex(start=0, stop=99, step=1)

In [10]:
table.columns = ["x","y","class"]

In [11]:
# subset based on value in table[:3]
zeros = table[table["class"] == 0]

In [12]:
# The passed index is a list of axis labels.

series = pd.Series(data)
series = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

d = {"b": 1, "a":0, "c":2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

          x        y  class
49  0.55330  1.00000      0
50  0.44274  0.59205      0
51  0.85176  0.66120      0
52  0.60436  0.86605      0
53  0.68243  0.48301      0
54  1.00000  0.76815      0
55  0.72989  0.81070      0
56  0.67377  0.77975      0
57  0.78761  0.58177      0
58  0.71442  0.76680      0
59  0.49379  0.54226      0
60  0.78974  0.74233      0
61  0.67905  0.60921      0
62  0.66420  0.72519      0
63  0.79396  0.56789      0
64  0.70758  0.76022      0
65  0.59421  0.61857      0
66  0.49364  0.56224      0
67  0.77707  0.35025      0
68  0.79785  0.76921      0
69  0.70876  0.96764      0
70  0.69176  0.60865      0
71  0.66408  0.92075      0
72  0.65973  0.66666      0
73  0.64574  0.56845      0
74  0.89639  0.70850      0
75  0.85476  0.63167      0
76  0.62091  0.80424      0
77  0.79057  0.56108      0
78  0.58935  0.71582      0
79  0.56846  0.74060      0
80  0.65912  0.71548      0
81  0.70938  0.74041      0
82  0.59154  0.62927      0
83  0.45829  0.46410      0
84  0.79982  0.74847      0
85  0.60974  0.54757      0
86  0.68127  0.86985      0
87  0.76694  0.64736      0
88  0.69048  0.83058      0
89  0.68122  0.96541      0
90  0.73229  0.64245      0
91  0.76145  0.60138      0
92  0.58985  0.86955      0
93  0.73145  0.74516      0
94  0.77029  0.70140      0
95  0.73156  0.71782      0
96  0.44556  0.57991      0
97  0.85275  0.85987      0
98  0.51912  0.62359      0